{% extends 'base.html' %}

{% block title %}My Booked Events{% endblock %}

{% block content %}

{% if booked_events %}
<h1 class="page-title">Your Booked Events</h1>

{% for booked_event in booked_events %}
<h1>{{booked_event.event.title}}</h1>
<p>Number of tickets: {{ booked_event.num_of_tickets }}</p>
<form method="POST" action="{% url 'events:delete_booking' booked_event.id %}">
    {% csrf_token %}
    <button class="custom-btn custom-btn__danger" type="submit">Delete Booking</button>
</form>
{% endfor %}
{% else %}
<h1 class="page-title">You currently have no booked events.</h1>
<p>
    Looking to book an event? Click <a href="/">Here</a> to view the latest events!
</p>
{% endif %}

{% endblock %}