{% extends 'base.html' %}
{% load static %}

{% block title %}Events{% endblock %}

{% block content %}
{% if messages %}
<div class="row">
    {% for message in messages %}
    <div class="col col-lg-3">
        <div class="alert alert-secondary {{ message.tags }}">
            {{ message|safe }}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<h1 class="page-title">Upcoming Events</h1>
<div class="events-grid">
    <!-- For every event in the events, show only the fir -->
    {% for event in events|slice:":6" %}

    <div class="event-container">
        <h1 class="event-title">{{ event.title }}</h1>
        <p class="event-created-by">Created by <span class="user">{{ event.creator }}</span></p>
        <hr>
        <!-- Image from Cloudinary goes here -->
        {% if 'placeholder' in event.event_image.url %}
        <img class="placeholder-img" src="{% static 'images/placeholder.webp' %}" alt="Image of orchestra conductor">
        {% else %}
        <img class="user-img" src="{{ event.event_image.url }}" alt="Concert image">
        {% endif %}
        <img src="" alt="">
        <h3 class="event-location">{{ event.city }}, UK</h3>
        <h2 class="event-teaser">{{ event.teaser }}</h2>
        <div class="event-info-container">
            <p><strong>Price: </strong>{{ event.ticket_price }}</p>
            <p><strong>Date: </strong>{{ event.event_date }}</p>
            <p><strong>Time: </strong>{{ event.event_time }}</p>
        </div>
        <a href="{% url 'event_detail' event.id %}">View full event details</a>
    </div>

    {% endfor %}
</div>
{% endblock %}