/* --------------------Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

/* --------------------General Styles */

#main-content {
    padding: 0 5rem;
    min-height: 100vh;
    margin-bottom: 3rem;
}

/* --------------------Navbar styles */

#main-nav {
    margin: 0;
    padding: 0;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.5);
}

#main-nav-container {
    padding: 1rem;
}

#main-nav,
#main-nav div,
#main-nav ul {
    background-color: rgb(1, 1, 80);
}

#main-nav div,
#main-nav a,
#main-nav ul li a,
#main-nav button {
    color: #fafafa;
}

#main-nav .navbar-logo {
    width: 40px;
}

#main-nav .navbar-brand {
    font-family: "Dancing Script", cursive;
    font-size: 2.25rem;
    font-weight: bold;
}

.navbar-brand-container {
    display: flex;
    align-items: center;
}

.hamburger-icon {
    font-size: 1.5rem;
}

.hamburger-btn {
    border: 1px solid #fafafa;
}

ul.dropdown-menu {
    border: 1px solid #fafafa;
    padding: .5rem;
}

ul.dropdown-menu .dropdown-divider {
    border-top: 1px solid #fafafa;
}

/* --------------------Event container styles */

.events-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.event-container p,
.event-container h1,
.event-container h2,
.event-container h3 {
    margin: 0;
}

.event-container {
    padding: 1rem;
    margin-top: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    box-shadow: -4px 6px 4px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: .75rem;
}

.event-title {
    font-size: 1.75rem;
    font-family: 'Merriweather', serif;
}

.event-created-by {
    font-size: 14px;
}

.event-container p.event-created-by {
    margin: .5rem 0 0;
}

span.user {
    font-style: italic;
}

.event-container hr {
    margin: 1rem 0;
}

.event-container img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.event-container .placeholder-img,
.event-container .user-img {
    height: 250px;
}

.event-location {
    font-size: 1.5rem;
}

.event-venue {
    font-style: italic;
}

.event-teaser {
    font-size: 1rem;
    text-align: center;
}

.event-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.event-buttons-container .event-btn {
    width: 200px;
}

/* --------------------Event Details Styles */

.event-detail-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.event-detail-img {
    width: 100%;
    max-width: 800px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 12px;
}

.book-now-btn {
    display: block;
    width: 100px;
    margin: 0 auto;
}

/* --------------------Pagination Styles */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-btn {
    padding: .75rem;
    border: none;
    border-radius: 12px;
    background-color: gray;
    text-decoration: none;
    color: #fafafa;
    background-color: rgb(1, 1, 80);
    text-transform: uppercase;
}

/* --------------------Form Styles */

.form-input-field,
.form-date-time-field {
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.form-input-field {
    width: 50%;
}

.form-date-time-field {
    width: 25%;
}

/* --------------------Footer Styles */

.base-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 1, 80);
    color: #fafafa;
}

.base-footer p {
    margin: 0;
}

.base-footer .socials-container {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.base-footer a {
    color: inherit;
    text-decoration: none;
}

.social-icon {
    font-size: 2rem;
    transition: all .2s linear;
}

.social-icon:hover {
    transform: scale(1.2);
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
}

/* ---------------Media Queries */

@media screen and (max-width: 996px) {
    #main-content {
        padding: 0 2rem;
    }

    .events-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    #main-content {
        padding: 0 1rem;
    }

    .events-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .event-container {
        gap: 1.25rem;
    }

    .event-buttons-container {
        width: 100%;
        gap: 1rem;
    }

    .event-buttons-container .event-btn {
        width: 100%;
    }

    .event-title {
        font-size: 2rem;
    }
}