/* --------------------Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

/* --------------------General Styles */

#main-content {
    padding: 0 5rem;
}

/* --------------------Navbar styles */

#main-nav {
    margin: 0;
    padding: 0;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.5);
}

#main-nav-container {
    padding: 1rem;
}

#main-nav,
#main-nav div,
#main-nav ul {
    background-color: rgb(1, 1, 80);
}

#main-nav div,
#main-nav a,
#main-nav ul li a,
#main-nav button {
    color: #fafafa;
}

#main-nav .navbar-logo {
    width: 40px;
}

#main-nav .navbar-brand {
    font-family: "Dancing Script", cursive;
    font-size: 2.25rem;
    font-weight: bold;
}

.navbar-brand-container {
    display: flex;
    align-items: center;
}

/* --------------------Event container styles */

.events-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.event-container p,
.event-container h1,
.event-container h2,
.event-container h3 {
    margin: 0;
}

.event-container {
    padding: 1rem;
    margin-top: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    box-shadow: -4px 6px 4px 4px rgba(0, 0, 0, 0.4);
}

.event-title {
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
}

.event-created-by {
    font-size: 14px;
}

.event-container p.event-created-by {
    margin: .5rem 0 0;
}

span.user {
    font-style: italic;
}

.event-container hr {
    margin: 1rem 0;
}

.event-container img {
    margin: 0 0 1rem;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.event-container .placeholder-img,
.event-container .user-img {
    height: 250px;
}

.event-location {
    font-size: 1.5rem;
}

.event-teaser {
    font-size: 1rem;
}

.event-info-container {
    margin: 1rem 0;
}

/* --------------------Pagination Styles */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-btn {
    padding: .75rem;
    border: none;
    border-radius: 12px;
    background-color: gray;
    text-decoration: none;
    color: #fafafa;
    background-color: rgb(1, 1, 80);
    text-transform: uppercase;
}

/* --------------------Form Styles */

.form-input-field,
.form-date-time-field {
    border: 1px solid rgba(0, 0, 0, 0.7);
}

.form-input-field {
    width: 50%;
}

.form-date-time-field {
    width: 25%;
}

